.SectionSocial,.asideSocialIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: leftContent;
}
.SectionSocial{
height: 100%;
justify-content: flex-end;
font-size: clamp(2rem,4vw,2.5rem);
}