#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}

body{
  font-size: clamp(1.2rem, 3vw,1.6rem);
}
.gridTemplate{
  display: grid;
  height: calc(var(--vh, 1vh) * 100);
  padding: clamp(1rem, 3vw, 4rem);
  grid-template-columns: 3rem 1fr 3rem;
  grid-template-rows: 4rem 1fr ;
  grid-template-areas: 
  "header header header"
  "leftContent mainContent rightContent"
  ;
}
.header{
  grid-area: header;
}
.container{
  width: 100%;
  max-width: 1980px;
}

#hero{
  display: grid;
  place-content: center;
  text-align: center;
}
.hero {
  justify-self: center;
  max-width: 800px;

}
.hero h1{
  text-transform: uppercase;
  line-height: 100%;
  font-size: clamp(3rem, 5vw, 6rem);
  margin-block:2rem ;
}
.hero h1 span{
  color: #8300FF;
}
.hero > span{
  font-size: clamp(0.8rem, 5vw, 2rem);
}
.hero h2{
  font-weight: 400;
  font-size: clamp(0.5rem, 5vw, 1.8rem);
}

aside{
  z-index: 20;
}
.maskBackground{
  position: fixed;
  z-index: 10;
  inset-inline: 0;
  width: 100%;
  mask-type: alpha;
  -webkit-mask-position:center;
  -webkit-mask-size:cover;
  -webkit-mask-repeat:no-repeat;
  background-image: var(--background-theme);
  background-position-x: center;
  background-size: auto;
}
.maskTop{
  height: clamp(10rem,6vw,12rem);
  top: 0;
  background-position-y: top;
  -webkit-mask-image: linear-gradient(rgb(0 0 0)83%, transparent);
}
.maskBottom{
  height: 6rem;
  background-position-y: bottom;
  bottom: 0;
  -webkit-mask-image: linear-gradient(transparent, rgb(0 0 0)30% );
}
.main_content{
  scroll-snap-type: y mandatory;
  overflow-x: hidden ;
  scroll-timeline: --myScroller ;
  scroll-behavior: smooth;
  grid-area: mainContent;
  max-width: 1400px;
  justify-self: center;
}
::-webkit-scrollbar{
  display: none;
}



.animation {
  animation-timeline: --myScroller;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
}
.animationHero {
  animation-name: appearHero;
}
.animation1 {
  animation-name: appear;
}
.animation2 {
  animation-name: appear2;
}
.animation3 {
  animation-name: appear3;
}


@media (max-width: 800px) {
  .maskTop{
    height: 7rem;
    top: 0;
    background-position-y: top;
    -webkit-mask-image: linear-gradient(rgb(0 0 0)83%, transparent);
  }
  .maskBottom{
    height: 3rem;
  }

}
@media (max-width: 768px) {
  .gridTemplate{
    grid-template-areas: 
    "header header header"
    "mainContent mainContent mainContent"
    ;
  }
  .content{
    padding-inline: 0 !important;
  }
}
@keyframes appearHero {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50%{
    opacity: 0;
    transform: scale(0.8);
  }

}
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  33%{
    opacity: 1;
    transform: scale(1);
  }
  70%{
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes appear2 {
 
  30%{opacity: 0;
      transform: scale(0.8);
  }
  63.4% {
    opacity: 1;
   transform: scale(1);
  }
  100%{
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes appear3 {
 
  60%{opacity: 0;
      transform: scale(0.8);
  }
  100% {
    opacity: 1;
   transform: scale(1);
  }
}